@use '@angular/material' as mat;

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}


.delete-button {
  @include mat.icon-button-overrides((
          icon-color: var(--mat-sys-tertiary-container),
  ));
}