<div class="flex flex-col gap-4 pt-4 w-9/10 mx-auto ">
  <h1 class="text-xl text-center text-primary">Criar nova lista de compras</h1>
  <form [formGroup]="shoppingListForm" class="flex flex-col gap-4" (ngSubmit)="createShoppingList()">
    <div class="flex flex-col md:flex-row gap-4">
      <mat-form-field appearance="outline" class="w-full md:basis-4/5">
        <mat-label>Nome da Lista de Compras</mat-label>
        <input formControlName="name" matInput>
      </mat-form-field>
      <mat-form-field appearance="outline" class="w-full md:w-fit">
        <mat-label>Data de compra</mat-label>
        <input matInput [min]="minDate" formControlName="plannedDate" [matDatepicker]="picker" placeholder="dd/mm/yyyy">
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Descrição</mat-label>
      <textarea matInput formControlName="description" class="!resize-none"> </textarea>
    </mat-form-field>
    <div formArrayName="items" class="flex flex-col gap-4">
      <h3 class="text-lg text-center text-primary">Items para comprar</h3>
      @for (_items of items.controls; track _items; let i = $index) {
        <div [formGroupName]="i" #listItem class="flex flex-col md:flex-row gap-4">
          <mat-form-field appearance="outline" class="w-full">
            <mat-label>Nome do item</mat-label>
            <input formControlName="name" matInput>
          </mat-form-field>
          <div class="flex gap-4">
            <mat-form-field appearance="outline" class="basis-1/5">
              <mat-label>Qtd</mat-label>
              <input formControlName="quantity" matInput type="number">
            </mat-form-field>
            <mat-form-field appearance="outline" class="grow">
              <mat-label>Unidade</mat-label>
              <mat-select formControlName="unit">
                @for (unit of units; track unit) {
                  <mat-option [value]="unit.id">{{ unit.symbol }}</mat-option>
                }
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="border-b border-gray-500"></div>
      }
      <button matButton (click)="addItem()" class="w-fit self-end" type="button">Adicionar Item</button>
    </div>
    <button type="submit" matButton="filled" color="primary">Criar lista de compras
    </button>
  </form>
</div>