@use "@angular/material" as mat;
@use "tailwindcss";
@use "dark-theme" as darkTheme;
@use "light-theme" as lightTheme;

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@mixin dark-mode {
  @include mat.theme(
                  (
                          color: (
                                  primary: darkTheme.$primary-palette,
                                  tertiary: darkTheme.$tertiary-palette,
                                  theme-type: dark,
                          ),
                          typography: (
                                  plain-family: Inter,
                                  brand-family: Playfair Display,
                                  bold-weight: 900,
                                  medium-weight: 500,
                                  regular-weight: 300,
                          ),
                          density: 0,
                  )
  );
}

@mixin light-mode {
  @include mat.theme(
                  (
                          color: (
                                  primary: lightTheme.$primary-palette,
                                  tertiary: lightTheme.$tertiary-palette,
                                  theme-type: light,
                          ),
                          typography: (
                                  plain-family: Inter,
                                  brand-family: Playfair Display,
                                  bold-weight: 900,
                                  medium-weight: 500,
                                  regular-weight: 300,
                          ),
                          density: 0,
                  )
  );
}

@theme {
  --color-primary: var(--mat-sys-primary);
  --font-title: var(--mat-sys-headline-large-font);
  --font-body: var(--mat-sys-body-medium-font);
}

@layer base {
  h1, h2, h3, h4, h5, h6 {
    @apply font-title;
  }

  h1 {
    @apply text-5xl text-primary;
  }

  h2 {
    @apply text-4xl text-primary;
  }

  h3 {
    @apply text-3xl text-primary;
  }

  h4 {
    @apply text-2xl text-primary;
  }

  h5 {
    @apply text-xl text-primary;
  }

  h6 {
    @apply text-lg text-primary;
  }
}

html {
  @include light-mode;
}

body {
  background-color: var(--mat-sys-background);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  margin: 0;
}

html,
body {
  height: 100%;
}

body.dark {
  @include dark-mode;
}

.mdc-notched-outline__notch {
  border-right: none;
}

:root {
  @include mat.button-overrides(
                  (
                          filled-container-shape: 8px,
                          protected-container-shape: 8px,
                          outlined-container-shape: 8px,
                          text-container-shape: 8px,
                          tonal-container-shape: 8px,
                  )
  );
}
