<div class="w-9/10 mx-auto mt-4 ">

  <div class="flex flex-col md:flex-row gap-4 justify-between md:justify-start items-center mb-4">

    <h3 class="grow text-center mat-headline-1">Listas de compras</h3>
    <a matButton="filled" routerLink="/shopping-list/new" class="md:self-end"
    >Nova lista de compras</a
    >
  </div>
  <div class="mb-8">
    <h4 class="pb-4">Próximas compras</h4>
    @for (shoppingList of (futureLists$ | async)?.data; track shoppingList.id; let last = $last) {
      <div class="flex gap-2 text-lg md:text-xl my-3">
        <a mat-list-item [routerLink]="['/shopping-list', shoppingList.id]" class="grow">
          {{ shoppingList.name }}
        </a>
        <span class="">
            {{ shoppingList.purchaseDate | date: "dd/MM/yyyy" : 'UTC' }}
          </span>
      </div>
      @if (!last) {
        <mat-divider></mat-divider>
      }
    } @empty {
      <p class="text-lg md:text-xl">Nenhuma lista de compras encontrada</p>
    }
  </div>
  <mat-divider class="list-divider"></mat-divider>
  <div class="mt-8">
    <h4 class="pb-4">Últimas Compras</h4>
    @for (shoppingList of (pastLists$ | async)?.data; track shoppingList.id; let last = $last) {
      <div class="flex gap-2 text-lg md:text-xl my-3">
        <a mat-list-item [routerLink]="['/shopping-list', shoppingList.id]" class="grow">
          {{ shoppingList.name }}
        </a>
        <span class="">
            {{ shoppingList.purchaseDate | date: "dd/MM/yyyy" : 'UTC' }}
          </span>
      </div>
      @if (!last) {
        <mat-divider></mat-divider>
      }
    } @empty {
      <p class="text-lg md:text-xl">Nenhuma lista de compras encontrada</p>
    }
  </div>
</div>
